
.DS_Store

iOS WebGLViewer/WebGLViewer.xcodeproj/project.xcworkspace/xcuserdata/paul.xcuserdatad/UserInterfaceState.xcuserstate

iOS WebGLViewer/WebGLViewer.xcodeproj/xcuserdata/paul.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

iOS WebGLViewer/WebGLViewer.xcodeproj/xcuserdata/paul.xcuserdatad/xcschemes/WebGLViewer.xcscheme

iOS WebGLViewer/WebGLViewer.xcodeproj/xcuserdata/paul.xcuserdatad/xcschemes/xcschememanagement.plist

latex/latex.synctex.gz

latex/latex.log

latex/latex.bbl

latex/latex.blg

latex/latex.bbl

latex/latex.aux

latex/latex.bbl
