* {
	padding: 0px;
	margin: 0px;	
	font-family: Helvetica, Verdana, sans-serif;
}
body {
	background-color: black;
}

/* info label for information about the desk */
#info {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 320px;
    background-color: rgba(0,0,0,0.4);
	font-size: 20px;
	padding: 10px;
	color: white;
	display: none;
}

#info_movement {
		position: absolute;
		color: white;			
		text-align:center;
		font-size: 15px;
		top: 0px; 
		width: 100%;
		padding: 5px;
		}

/* the map with the users location */
#map {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 320px;
    background-color: rgba(0,0,0,0.4);
	font-size: 20px;
	padding: 10px;
	padding-bottom: 5px;
	color: white;
	display: none;
}

/* button to show/hide map */
#showMap {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 40px;
	height: 40px;
    background-color: green;
}
